@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Inter:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --brand-beige: #f4efe8;
  --brand-accent: #8f6f53;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-primary-400 text-gray-900 font-serif;
}

/* small helpers */
.container {
  @apply mx-auto px-6
}